$neutral-0: #ffffff;
$neutral-1: #e8eaf0;
$neutral-2: #c5c7cc;
$neutral-3: #00000080;
$neutral-4: #000000;

$accent-yellow: #fece00;
$accent-blue: #615bff;
$accent-orange: #e05930;

$background-light-yellow: #fbf0c8;
* {
  -webkit-font-smoothing: antialiased;
}
