@import "../../assets/constants.scss";
.list-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 700px;
  margin: 0px auto;
  margin-bottom: 25px;
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    .filter-container {
      min-width: 298px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      //   margin: 0px 15px;
      .filter-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        .filter-label {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        h3 {
          margin: 10px;
        }
        // ============
        .input-group {
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: center;
          align-items: center;
          .input {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            padding: 0 10px;
            height: 44px;
            width: 135px;
            border: solid 1px $neutral-4;
            border-radius: 8px;
            color: $neutral-4;
            span {
              margin: 2px 0px 0px 0px;
              padding: 0;
              font-size: 16px;
              color: $neutral-2;
            }
            input {
              font-size: 16px;
              width: 100%;
              margin: 0;
              padding: 0;
              border: none;
              text-align: end;
              &:focus {
                outline: none;
                background-color: transparent;
              }

              &:placeholder {
                color: $neutral-4;
              }
            }
            input:-webkit-autofill {
              -webkit-background-clip: text;
              -webkit-text-fill-color: $neutral-4;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        // ============
        .rating-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          justify-content: center;
          align-items: center;
          .rating-item {
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
              width: 81px;
              height: 16px;
            }
            input {
              height: 20px;
            }
          }
        }
        .start-time-container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          justify-content: center;
          align-items: center;
          .start-time-item {
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
              margin: 0;
            }
            input {
              height: 20px;
            }
          }
        }
      }
    }
    .list-item-container {
      width: 100%;

      .search-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .search-bar {
          width: 400px;
        }
        .sort-box {
          width: 240px;
          margin: 0px 10px;
          z-index: 1;
        }
      }
      .category::-webkit-scrollbar {
        margin-top: 2px;
        height: 8px;
      }

      .category::-webkit-scrollbar-thumb {
        display: none;
        background-color: #888;
        border-radius: 6px;
      }
      .category:hover::-webkit-scrollbar-thumb {
        display: block;
        height: 8px;
        background-color: #555;
        bottom: 1px;
      }
      .category:hover::-webkit-scrollbar {
        height: 8px;
        display: block;
      }
      .category {
        position: relative;
        height: 50px;

        margin: 20px 10px 10px 0px;
        width: 100%;
        max-width: 1400 px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;

        .category-item {
          display: flex;
          flex-direction: row;
          gap: 1px;
          height: 100%;
          padding: 0 16px;

          text-align: center;
          border-radius: 10px;
          border: solid 2px $neutral-4;
          align-items: center;
          cursor: pointer;
          img {
            padding: 0px 0px 0px 4px;
            width: 30px;
            height: 30px;
            filter: invert(0%) sepia(2%) saturate(5%) hue-rotate(332deg)
              brightness(10%) contrast(100%);
          }
          p {
            font-weight: 600;
            margin: 8px 10px;
            width: max-content;
          }
          &.selected {
            color: $neutral-0;
            background-color: $neutral-4;
            img {
              filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(331deg)
                brightness(155%) contrast(101%);
            }
          }
        }
      }
      .item-group {
        margin: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: start;
        z-index: 0;
        .card {
          width: 300px;
          height: 390px;
          .card-content-container {
            height: 100%;
            width: 300px;
            .media {
              height: 190px;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
              }
              .major {
                border: solid 0.5px $neutral-4;
                position: absolute;
                bottom: 8px;
                left: 16px;
                font-size: 16px;
                background-color: $neutral-0;
                min-width: 90px;
                height: 32px;
                border-radius: 60px;
                p {
                  margin: 5px;
                  padding: 0px 10px;
                }
              }
            }
            .detail {
              display: flex;
              flex-direction: column;
              height: 200px;
              gap: 8px;
              align-items: flex-start;
              justify-content: space-between;
              position: relative;
              .favorite-icon {
                position: absolute;
                border: solid 1px $neutral-4;
                display: flex;
                top: -24px;
                right: 10px;
                height: 48px;
                width: 48px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: $neutral-0;
                img {
                  height: 32px;
                  width: 32px;
                }
              }

              .tutor {
                margin: 10px 10px;
                .name {
                  padding: 0 5px;
                  font-size: 16px;
                  font-weight: 400;
                  font-family: "Be Vietnam Pro", sans-serif;
                }
              }
              .coursename {
                margin: 0px 10px;
                font-family: Be Vietnam Pro;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
              }
              .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 56px;
                width: 100%;
                border-style: solid;
                border-color: $neutral-4;
                border-width: 2px 0px 0px 0px;

                .rating {
                  flex: 1;
                  height: 100%;
                  border-style: solid;
                  border-color: $neutral-4;
                  border-width: 0px 1px 2px 1px;
                  padding: 0px 20px 0px 20px;
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  align-items: center;
                  justify-content: center;

                  p {
                    margin: 0;
                    font-size: 20px;
                  }
                }
                .price {
                  flex: 2;
                  height: 100%;
                  border-style: solid;
                  border-color: $neutral-4;
                  border-width: 0px 1px 2px 1px;

                  padding: 0px 20px 0px 20px;
                  display: flex;

                  align-items: center;
                  justify-content: flex-end;
                  p {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      .pagination {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 44px;
      }
    }
  }
}
