@import "../assets/constants.scss";

// button
.button {
  position: relative;
  height: 48px;
  width: 100%;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 100%;
    top: -6px;
    left: -8px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    font-weight: 500;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      width: calc(100% - 3px);
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    // background-color: $neutral-2;
    opacity: 50%;
    cursor: default;
    span {
      // color: $neutral-2;
      // border: 2px solid $neutral-2;
      width: calc(100% - 3px);
      top: 0;
      left: 0;
    }
  }
}

.stripe-button {
  position: relative;
  height: 48px;
  width: 100%;
  background-color: $neutral-0;
  border: 2px solid $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 100%;
    top: -5px;
    left: -8px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      width: calc(100% - 3px);
      top: 0;
      left: 0;
    }
  }
  &.disabled {
    cursor: default;
    opacity: 50%;
    span {
      border: 2px solid $neutral-2;
      width: calc(100% - 3px);
      top: 0;
      left: 0;
    }
  }
}

.icon-button {
  position: relative;
  height: 48px;
  width: 100%;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 100%;
    top: -5px;
    left: -5px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    background-color: $neutral-2;
    span {
      color: $neutral-2;
      border: 2px solid $neutral-2;
      top: 0;
      left: 0;
    }
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  width: 172px;
  padding: 12px 12px 12px 16px;
  border: 2px solid $neutral-4;
  border-radius: 8px;
  gap: 8px;

  &:focus-within {
    box-shadow: 0px 0px 0px 4px rgba(203, 218, 252, 0.75);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(203, 218, 252, 0.75);
    -moz-box-shadow: 0px 0px 0px 4px rgba(203, 218, 252, 0.75);
  }
  img {
    width: 20px;
    height: 20px;
  }
  input {
    border-color: transparent;
    width: 90%;
    justify-items: flex-start;
    height: 20px;
    font-size: 16px;
    padding: 0px;
    border: 0px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }

  input::placeholder {
    color: #c5c7cc;
  }
}

.dropdown-search-bar {
  @extend .search-bar;
  gap: 8px;

  .search-bar-arrow {
    width: 16px;
    height: 16px;
  }
}

.dropdown-label {
  display: flex;
  height: 16px;
  width: 204px;
  padding: 12px 12px 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 4px 4px #000;
  transition: transform 0.5s, box-shadow 0.5s;
  font-size: 16px;

  cursor: pointer;
  p {
    width: 176px;
    text-align: start;
  }

  img {
    transition: transform 0.2s;
  }

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px #000;
    transition: transform 0.5s, box-shadow 0.5s;
  }
}

.dropdown-label-clicked {
  display: flex;
  height: 16px;
  width: 204px;
  padding: 12px 12px 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 4px 4px #000;
  transition: transform 0.5s, box-shadow 0.5s;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;

  cursor: pointer;
  p {
    width: 176px;
    text-align: start;
  }

  img {
    transform: rotate(-180deg);
    transition: transform 0.2s;
  }
}

.dropdown-content {
  position: absolute;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  border-radius: 8px;
  border: 2px solid #000;
  background: var(--neutral-0, #fff);
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;

  .dropdown-item {
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    p {
      margin: 0px;
    }

    img {
      width: 24px;
    }

    &:hover {
      background-color: $background-light-yellow;
    }
  }

  .dropdown-item:first-child {
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px 8px 0px 0px;
    &:hover {
      background-color: $background-light-yellow;
    }
  }

  .dropdown-item:last-child {
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 0px 0px 8px 8px;
    &:hover {
      background-color: $background-light-yellow;
    }
  }
}

.rounded-avatar {
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid #000;
}

.tab-conatainer {
  display: flex;
  flex-direction: row;
  height: 44px;
  // border: 1px solid $neutral-4;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;

  .tab-item {
    border-style: solid;
    border-width: 2px 0px 2px 2px;
    border-color: $neutral-4;
    width: 85px;
    // border: 2px solid $neutral-4;
    padding: 8px;

    &:hover {
      background-color: $background-light-yellow;
    }
  }
  .tab-item:first-child {
    border-radius: 8px 0px 0px 8px;
  }
  .tab-item:last-child {
    border-radius: 0px 8px 8px 0px;
    border-width: 2px 2px 2px 2px;
  }
  .tab-item.selected {
    background-color: $background-light-yellow;
  }
}

.card {
  position: relative;
  border-radius: 10px;
  border: 2px solid $neutral-4;
  background-color: $neutral-1;
  span {
    border-radius: 8px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: $neutral-4;
    background-color: $neutral-0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
    &:hover {
      border-width: 2px;
      top: -8px;
      left: -8px;
    }
  }
}
