$neutral-0: #ffffff;
$neutral-1: #e8eaf0;
$neutral-2: #c5c7cc;
$neutral-3: #00000080;
$neutral-4: #000000;
$background-light-yellow: #FBF0C8;
// button
.button {
  position: relative;
  height: 48px;
  width: 94px;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 93px;
    top: -5px;
    left: -5px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      top: 0;
      left: 0;
    }
  }

  &.with-icon {
    width: 118px;
    span {
      width: 117px;
    }
  }

  &.disabled {
    background-color: $neutral-2;
    span {
      color: $neutral-2;
      border: 2px solid $neutral-2;
      top: 0;
      left: 0;
    }
  }
}

.icon-button {
  position: relative;
  height: 48px;
  width: 60px;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 59px;
    top: -5px;
    left: -5px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    background-color: $neutral-2;
    span {
      color: $neutral-2;
      border: 2px solid $neutral-2;
      top: 0;
      left: 0;
    }
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 200px;
  border: 2px solid $neutral-4;
  border-radius: 8px;

  &:focus-within {
    box-shadow: 0px 0px 7px 1px rgba(203, 218, 252, 0.75);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(203, 218, 252, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(203, 218, 252, 0.75);
  }
  img {
    flex: 1;
    height: 20px;
    margin: 0 0 0 8px;
  }
  input {
    flex: 4;
    border-color: transparent;
    width: 140px;
    margin: 0 8px 0 8px;
    justify-items: flex-start;
    height: 20px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}

.dropdown-label {
  display: flex;
  height: 16px;
  width: 204px;
  padding: 12px 12px 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 4px 4px #000;
  transition: transform 0.5s, box-shadow 0.5s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  p {
    width: 176px;
    text-align: start;
  }

  img {
    transition: transform 0.2s;
  }

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px #000;
    transition: transform 0.5s, box-shadow 0.5s;
  }
}

.dropdown-label-clicked {
  display: flex;
  height: 16px;
  width: 204px;
  padding: 12px 12px 12px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 4px 4px #000;
  transition: transform 0.5s, box-shadow 0.5s;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  p {
    width: 176px;
    text-align: start;
  }

  img {
    transform: rotate(-180deg);
    transition: transform 0.2s;
  }
}

.dropdown-content {
  position: absolute;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  border-radius: 8px;
  border: 2px solid #000;
  background: var(--neutral-0, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  .dropdown-item {
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;

    p {
      margin: 0px;
    }
  
    &:hover {
      background-color: $background-light-yellow;
    }
  }

  .dropdown-item:first-child {
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px 8px 0px 0px;
    &:hover {
      background-color: $background-light-yellow;
    }
  }

  .dropdown-item:last-child{
    display: flex;
    width: 204px;
    padding: 12px 20px 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 0px 0px 8px 8px;
    &:hover {
      background-color: $background-light-yellow;
    }
  }
  
}

