$neutral-0:#FFFFFF;
$neutral-1:#E8EAF0;
$neutral-2:#C5C7CC;
$neutral-3:#00000080;
$neutral-4:#000000;
// button
.button {
  position: relative;
  height: 48px;
  width: 94px;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 93px;
    top: -5px;
    left: -5px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      top: 0;
      left: 0;
    }
  }

  &.with-icon{
    width: 118px;
    span{
      width: 117px;
    }
  }

  &.disabled{
    background-color: $neutral-2;
    span{
      color: $neutral-2;
      border: 2px solid $neutral-2;
      top: 0;
      left: 0;
    }
  }
}

.icon-button{
  position: relative;
  height: 48px;
  width: 60px;
  background-color: $neutral-4;
  border-radius: calc(8px + 2px);
  padding: 1px;
  cursor: pointer;

  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 59px;
    top: -5px;
    left: -5px;
    transition: 0.5s ease-out;
    border-radius: 8px;
    background-color: $neutral-0;
    border: 2px solid $neutral-4;
    color: $neutral-4;
    // color: #000000;
    &:hover {
      top: 0;
      left: 0;
    }
  }


  &.disabled{
    background-color: $neutral-2;
    span{
      color: $neutral-2;
      border: 2px solid $neutral-2;
      top: 0;
      left: 0;
    }
  }
}

.search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 200px;
  border: 2px solid $neutral-4;
  border-radius: 8px;

  &:focus-within {
    box-shadow: 0px 0px 7px 1px rgba(203,218,252,0.75);
-webkit-box-shadow: 0px 0px 7px 1px rgba(203,218,252,0.75);
-moz-box-shadow: 0px 0px 7px 1px rgba(203,218,252,0.75);
  }
  img{
    flex: 1;
    height: 20px;
    margin: 0 0 0 8px ;
  }
  input{
    flex: 4;
    border-color: transparent;
    width: 140px;
    margin: 0 8px 0 8px ;
    justify-items: flex-start;
    height: 20px;
    font-size: 16px;
    &:focus{
      outline: none;
    }
  }
}