@import "../../assets/constants.scss";
.verify-container {
  background-color: $accent-blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .verify-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // ---

    width: 970px;
    height: 660px;
    border-radius: 12px;
    background-color: $neutral-0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    padding: 15px;
    .verify-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      margin-left: 30px;

      .goback {
        display: inline-flex;
      }
      .form-header {
        margin-top: 10px;
        p {
          margin: 0;
          font-size: 24px;
          font-weight: 700;
        }
      }
      label {
        display: flex;
        align-self: start;
        padding: 10px 10px 0px 10px;
        font-weight: 600;
      }
      .input {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 8px;
        padding: 0 20px;
        height: 48px;
        width: 438px;
        border: solid 1px $neutral-4;
        border-radius: 8px;
        color: $neutral-4;
        input {
          font-size: 18px;

          width: 100%;
          border-color: transparent;
          &:focus {
            outline: none;
            background-color: transparent;
          }

          &:placeholder {
            color: $neutral-4;
          }
        }
        input:-webkit-autofill {
          -webkit-background-clip: text;
          -webkit-text-fill-color: $neutral-4;
        }
      }

      .form-footer {
        margin-top: 20px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
    .login-banner {
      border: solid 1px black;
      flex: 1;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
